<div id="tilesGroup">
      <div class="tileWrap">
      <div class="tile">
            <div class="front redBG">
                  <h3>Who we are</h3>
            </div>
            <div class="back">
                  <h4>
                        Verge is a cutting edge website development &amp; design company. Tailored personally with performance as a first class citizen
                  </h4>
            </div>
      </div>
      </div>

      <div class="tileWrap">
      <div class="tile">
            <div class="front greenBG">
                  <h3>Did you know <br/>?</h3>
            </div>
            <div class="back">
                  <h4>One in 4 people abandon a web page if it takes more than 4 seconds to load
                        <!-- <a href="http://mashable.com/2012/03/14/slow-website-stats-infographic/" target="_blank">Don't belive us!</a> -->
                  </h4>
            </div>
      </div>
      </div>

      <div class="tileWrap">
      <div class="tile">
            <div class="front blueBG">
                  <div class="middle">
                        <h3>What We Do<br/>&#10003;</h3>
                  </div>
            </div>
            <div class="back">
                  <h4>
                        Develop<br/>
                        <br/>
                        Design<br/>
                        <br/>
                        SEO
                  </h4>
            </div>
      </div>
      </div>
</div>
