
/*section h2:hover {
      color: #333841;
}*/

#customized, #creative, #performance {
      width: 100%;
      display: table;
}
#customized h2, #creative h2, #performance h2 {
      color: #FFFFFC;
      text-align: center;
}
#customized h2:hover, #creative h2:hover, #performance h2:hover  {
      color: #333841;
}

#customized p, #creative p, #performance p, #bottom p{
      color: #FFFFFC;
      line-height: 200%;
      padding: 15% 15% 0px 15%;
      font-family: 'Verdana';
}
@media screen and (max-width: 760px){
      #customized p, #creative p, #performance p {
            font-size: 100%;
            padding: 0px 10% 0px 10%;
            font-family: 'Verdana';
      }
}
