
section h2:hover {
      color: #333841;
}


#customized {
      width: 100%;
      background-color: #2973A8;
}
#customized h2 {
      color: #FFFFFC;
      padding: 20% 0px 5% 0px;
}


#creative {
      width: 100%;
      background-color: #43C3B1;
}
#creative h2 {
      color: #FFFFFC;
      padding: 20% 0px 5% 0px;
}


#performance {
      width: 100%;
      background-color: #C36159;
}
#performance h2 {
      color: #FFFFFC;
      padding: 20% 0px 5% 0px;
}
