@font-face {
      font-family: Italiana;
      src: url(/fonts/Italiana/Italiana-Regular.ttf);
}

html, body, div, nav, span, section, a, h1, h2, h3, h4, img, ul, li { padding: 0px; margin: 0px; transition: all 0.4s ease-in-out; }
body { background-color: #FFFFFC; color: #333841; font-family: 'Italiana', 'Verdana', serif; font-size: 100%; }
a { text-decoration: none; color: #333841; }
h1 {
      text-align: center;
      font-size: 400%;
      padding: 10% 0px 0px 0px;
}
h1:hover {
      color: #C36159;
      margin: 0px;
}
h2 {
      text-align: center;
      font-size: 200%;
}
orange {
      color: #C36159;
}
green {
      color: #43C3B1;
}
blue {
      color: #2973A8;
}


#top h2 {
      color: #333841;
      padding: 3% 0px 5% 0px;
}
#top h2:hover {
      color: #43C3B1;
}
@media screen and (max-width: 340px) {
      #top h2 {
            font-size: 120%;
      }
}


#openIcon:hover {
      -ms-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;

      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
}
#closeIcon:hover  {
      -ms-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;

      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
}
#list a:hover {
      color: #C36159;
}


/* Side Arrows */
#uarrow {
      top: 40%;
      right: 1%;
      font-size: 250%;
      cursor: pointer;
      position: fixed;
      -ms-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
}
#uarrow:hover {
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.55);
}
#darrow {
      top: 50%;
      right: 1%;
      font-size: 250%;
      cursor: pointer;
      position: fixed;
      -ms-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
}
#darrow:hover {
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.55);
}
#darrow:focus {
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.55);
}
/* Side Arrows */



/* Hint Message

      Note: Used in main.rs
      Example: <div id="hint">Use Arrow Keys<div>&#x276f;</div></div>
*/
#hint {
      width: 100%;
      bottom: 0%;
      text-align: center;
      position: absolute;
      z-index: -1;
      height: 80px;
      font-size: 120%;
      color: rgba(51, 56, 65, 0.5);
}
#hint div {
      font-size: 150%;
      position: relative;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);

      -webkit-animation-name: moveDownArrows;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;

      animation-name: moveDownArrows;
      animation-duration: 1s;
      animation-iteration-count: infinite;
}
@media screen and (max-device-width: 1050px){
      #hint {
            display: none;
      }
}
@-webkit-keyframes moveDownArrows {
      0% {top: 0px;}
      25% {top: 8px;}
      50% {top: 16px;}
      75% {top: 8px;}
      100% {top: 0px;}
}
@keyframes moveDownArrows {
      0% {top: 0px;}
      25% {top: 8px;}
      50% {top: 16px;}
      75% {top: 8px;}
      100% {top: 0px;}
}
/*Hint Message*/



/*

      Colors Link: https://color.adobe.com/Nautical-color-theme-6343989/edit/?copy=true&base=2&rule=Custom&selected=4&name=
            Copy%20of%20Nautical&mode=rgb&rgbvalues=0.2,0.219608,0.254902,0.764706,0.37956803610316014,0.35007776890179076
            ,1,1,0.988235,0.262745,0.764706,0.694118,0.160784,0.45098,0.658824&swatchOrder=0,1,2,3,4

            Dark Blue/Black: 333841
            Orange/Red: C36159
            White: FFFFFC
            Green: 43C3B1
            Blue: 2973A8

*/
