
{{>header}}

      <table id="top">
            <thead>
                  <td>
                        {{>titles}}
                  </td>
            </thead>
            <tbody>
                  <td class="about">
                        <h4><span class="blueText">Custom,</span> <span class="greenText">creative,</span> <span class="redText">performance</span> is a necessity.</h4><br/>
                        <p>
                              Verge is a website development, design, and SEO company located in Tucson Arizona.<br><br>At Verge we don’t just make websites we create full on web applications. Our website/webapps have extremely high performance because our process begins at the very backend by configuring the server. After optimizing the custom environment we begin coding the site. We use the latest and greatest technologies to provide an experience that will be remembered.
                        </p>

                        <a href="/contact"><div class="bell greenText spin-360">&#9086;</div></a>
                  </td>
            </tbody>
      </table>

{{>footer}}
