
{{> header }}

      <table id="top">

            <thead>
                  <td>
                        {{>titles}}
                  </td>
            <thead>

            <tbody>
                  <td>
                        <p class="centerText">
                              Your Inquiry Was Submitted<br>
                              We Will Contact You Soon
                        </p>
                  </td>
            </tbody>
      </table>

{{> footer}}
