
{{> header}}

      <form class="contactForm" >
            <input type="text" name="firstname" placeholder="First Name">
            <input type="text" name="lastname" placeholder="Last Name">
            <input type="tel" name="phone" placeholder="Phone #">
            <input type="email" name="email" placeholder="Email">
            <textarea type="text" name="message" placeholder="Message"></textarea>
            <button type="submit" formenctype="text/plain" formaction="/submit" formmethod="post">Submit</button>
            <!-- formaction="/submit" formmethod="post" -->
      </form>

</section>
<!-- Close Top Section -->

{{> footer}}
