<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{tab-title}}</title>

	<!-- CSS Link Must Contain "rel" -->
	<link type="text/css" rel="stylesheet" href="/css/header.css">
	<link type="text/css" rel="stylesheet" href="/css/body.css">
	<!-- CSS Link Must Contain "rel" -->

	<!-- JS -->
	<script src="/js/autoSizeSections.js"></script>
	<script src="/js/makeMenu.js"></script>
	<script src="/js/scrollControl.js"></script>
	<!-- JS -->
</head>

<body>
	<nav id="menu">
		<div id="openIcon">&#9776;</div>
		<div id="closeIcon">X</div>
		<div id="list">
			<a href="/">Home</a>
			<a href="/contact">Contact Us</a>
		</div>
	</nav>

	<div id="uarrow">&#9650;</div>
	<div id="darrow">&#9660;</div>

	<section id="top">

		<h1>{{{title}}}</h1>
		<h2>{{sub-title}}</h2>

		{{{hint}}}

	</section>
