<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{tabTitle}}</title>

	<!-- CSS Link Must Contain "rel" -->
	<link type="text/css" rel="stylesheet" href="/css/header.css">
	<link type="text/css" rel="stylesheet" href="/css/body.css">
	<link type="text/css" rel="stylesheet" href="/css/footer.css">
	<!-- CSS Link Must Contain "rel" -->

	<!-- JS -->
	<script type="text/javascript" src="/slide-menu/menu.js"></script>
	<script type="text/javascript" src="/js/autoSizeTables.js"></script>
	<script type="text/javascript" src="/js/scrollControl.js"></script>
	<script type="text/javascript" src="/js/dynamicTiles.js"></script>
	<!-- JS -->
</head>
<body>

	<nav id="menu">
		<div id="openIcon" class="spin-180">&#9776;</div>
		<div id="closeIcon" class="spin-180">X</div>
		<div id="list">
			<a href="/">Home</a>
			<hr>
			<a href="/contact">Contact Us</a>
			<hr>
			<a href="/about">About Us</a>
		</div>
		<div id="media">
			<a href="#"><object type="image/svg+xml" data="/svg/in.svg">Linkedin</object></a>
			<a href="https://twitter.com/vergewd" target="_blank"><object type="image/svg+xml" data="/svg/t.svg">Twitter</object></a>
			<a href="https://www.facebook.com/vergewd" target="_blank"><object type="image/svg+xml" data="/svg/f.svg">Facebook</object></a>
			<a href="https://plus.google.com/109026950597477930874/about" target="_blank"><object type="image/svg+xml" data="/svg/g+.svg">Google+</object></a>
		</div>
	</nav>
	<!-- Blur Wrap -->
	<div id="blurWrap">
	<!-- Blur Wrap -->

	<a id="phone" href="tel:1-520-870-7847">
			<span id="iconPhone">&#9742;</span>
			<span id="number">520-870-7847</span>
	</a>


	<div id="uarrow">&#9650;</div>
	<div id="darrow">&#9660;</div>
