
      {{> header}}

      {{> tiles}}

      {{{hint}}}
</section>
<!-- Close Top Section -->

      <section id="customized" class="blueBG">
            <div class="middle">
                  <h2>Customized</h2>
                  <p>
                        <span class="greenText bold">We don’t take shortcuts.</span> Most website development companies purchase a template using Wordpress or Joomla or use their own content management system and simply add in colors and content. At Verge when we say custom we mean it. Were talking from the ground up, actually even lower than that basement level. You don't just get a completely <span class="greenText bold">customized one of a kind website</span> you get an entire environment built just for you.
                  </p>
            </div>
      </section>

      <section id="creative" class="greenBG">
            <div class="middle">
                  <h2>Creative</h2>
                  <p>

                  </p>
            </div>
      </section>

      <section id="performance" class="redBG">
            <div class="middle">
                  <h2>Performance</h2>
                  <p>

                  </p>
            </div>
      </section>


{{> footer}}
