
      {{> header}}

      {{> tiles}}

      {{{hint}}}
</section>
<!-- Close Top Section -->

      <section id="customized" class="blueBG">
            <div class="middle">
                  <h2>Customized</h2>
                  <p>
                        <span class="greenText bold">We don’t take shortcuts.</span> Many website development companies purchase a template using Wordpress or Joomla or use their own content management system and simply add in colors and content. At Verge when we say custom we mean it. Were talking from the ground up, actually even lower than that basement level. You don't just get a completely <span class="greenText bold">customized one of a kind website</span> you get an entire environment built just for you.
                  </p>
            </div>
      </section>

      <section id="creative" class="greenBG">
            <div class="middle">
                  <h2>Creative</h2>
                  <p>
                        Often a users only experience is with a business’ website. If it does not catch their attention they will likely move on. At Verge creativity is a necessity.
                  </p>
            </div>
      </section>

      <section id="performance" class="redBG">
            <div class="middle">
                  <h2>Performance</h2>
                  <p>
                        1 in 4 people abandon a web page if it takes more than 4 seconds to load. Obviously it is important to have a fast and responsive website. Although performance is not even considered by many web development companies. At Verge performance is a first class citizen. 
                  </p>
            </div>
      </section>


{{> footer}}
