<div id="tilesGroup">
      <div class="tileWrap">
      <div class="tile">
            <div class="front redBG">
                  <h3>Who we are<br>
                        <object data="/svg/White-Logo-Icon.svg" type="image/svg+xml" style="height:26px;margin-top: 5px;"></object>
                  </h3>
            </div>
            <div class="back">
                  <h4>
                        Verge is a cutting edge website development &amp; design company
                  </h4>
            </div>
      </div>
      </div>

      <div class="tileWrap">
      <div class="tile">
            <div class="front greenBG">
                  <h3>Did you know <br/>?</h3>
            </div>
            <div class="back">
                  <h4>
                        40% of people abandon a web page if it takes more than 3 seconds to load
                  </h4>
            </div>
      </div>
      </div>

      <div class="tileWrap">
      <div class="tile">
            <div class="front blueBG">
                  <!-- <div class="middle"> -->
                        <h3>What We Do<br/>&#10003;</h3>
                  <!-- </div> -->
            </div>
            <div class="back">
                  <h4>
                        Develop<br/>
                        <br/>
                        Design<br/>
                        <br/>
                        SEO
                  </h4>
            </div>
      </div>
      </div>
</div>
