<style>

#tilesGroup {
width: 100%;
text-align: center;

}
.tileWrap{
width: 33%;
background-color: grey;
display: inline-block;

width: 200px;
height: 200px;
}
.tile {
      width: 200px;
      height: 200px;
}
.front, .back {
      text-align: center;
      position: absolute;

      width: 200px;
      height: 200px;
}

</style>

<div id="tilesGroup">
      <div class="tileWrap">
      <div class="tile">
            <div class="front redBG">
                  <h3>Who we are</h3>
            </div>
            <div class="back">
                  <h4>
                        Verge is a cutting edge website development &amp; design company. Tailored personally with performance as a first class citizen.
                  </h4>
            </div>
      </div>
      </div>

      <div class="tileWrap">
      <div class="tile">
            <div class="front greenBG">
                  <h3>Did you know <br/>?</h3>
            </div>
            <div class="back">
                  <h4>1 in 4 people abandon a web page if it takes more than 4 seconds to load.
                        <!-- <br>
                        <a href="http://mashable.com/2012/03/14/slow-website-stats-infographic/" target="_blank">Don't belive us!</a> -->
                  </h4>
            </div>
      </div>
      </div>

      <div class="tileWrap">
      <div class="tile">
            <div class="front blueBG">
                  <h3>Contact Us<br/>&#9086;</h3>
            </div>
            <div class="back">
                  <h4>
                        <a href="tel:1-520-870-7847">Phone <br/>520-870-7847</a>
                  </h4>
            </div>
      </div>
      </div>
</div>
